@import "variables";
@import "bootstrap-flex";

// Sorry Bootstrap but I really don't want to deal with responsive right now!
.container{
    min-width: 940px;
}

nav {
    background-color: #563d7c;
    margin-bottom: 40px;
}

.bar-value{
    // a bit hacky, need to be en rem/em
    font-size: 12px;
}

hr {
    margin-bottom: 40px;
}

text {
    font: 10px sans-serif;
}

.axis path,
.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

rect {
    fill: #aad;
    &:hover{
      fill: darken(#aad, 10%);
    }
}