@import "variables";
@import "bootstrap-flex";

// Sorry Bootstrap but I really don't want to deal with responsive right now!
.container{
  min-width: 940px;
}

nav {
  background-color: #563d7b;
  margin-bottom: 40px;
}

footer {
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #9D84C2;
  font-size: 0.8em;
  color: rgba(255,255,255,0.6);
  margin-top: 50px;
}

.content{
  min-height: 800px;
}

.chart{
  position: relative;
}

.bar-value{
  font-size: 0.8em;
  position: absolute;
  width: 500px;
  top: 5px;
  right: 10px;
}

hr {
  margin-bottom: 40px;
}

text {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

rect {
  fill: #9D84C2;
  &:hover{
    fill: #7251A4;
  }
}