@import "bootstrap-flex";

nav {
    background-color: #563d7c;
}

text {
    font: 10px sans-serif;
}

.axis path,
.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

rect {
    fill: #aad;
    &:hover{
      fill: darken(#aad, 10%);
    }
}